/* 
.swiper-wrapper{
    align-items: center;
} */
/* .swiper-wrapper */
.swiper-slide{
    display: flex !important;
}
.swiper-pagination
.swiper-pagination-bullet-active-main{
    background-color: var(--red-my);
}
.swiper-button-prev,
.swiper-button-next {
    opacity: 0;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
    opacity: 1;
}

.card-body div{
    height: 100%;
    display: flex !important;
    align-items: center;
}