@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-size: 18px;
}

:root{
    --yellow-my: rgb(248,221,38);
    --blue-my: rgba(2,1,103,255);
    --red-my: rgb(235,51,52);
}

html {
    scroll-behavior: smooth;
}